@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div id ="content">
    
    <span class="ajax-get" data-url="@Url.Action("Work","Home")">
        Work
    </span> 

</div>  
<h2></h2>
    <div><img align="center" src="~/Content/IMAGES/Subrosa Shield.jpg"></div>




<div class="left"><h1 align ="center">ABOUT</h1><br /></h1>Hello, my name is Owen to learn more about me click this ABOUT link </div>
<div class="center"><h1 align="center">WORK</h1><br /></h1>To view some of my work feel free to click this WORK link </div>
<div class="right"><h1 align="center">CONTACT</h1><br /></h1>If youd like to send me your contact info, click this CONTACT link </div> 

