@{
    ViewBag.Title = "Index";
}

<h2>About Owen</h2>
<div class="AboutClass">
<h3>About Me</h3>
    <p style="border: 2px solid Gold;">

        <br />
        <br />
        <br />
When I am not riding my bike or creating an art project, I am glued to my computer. I began to code in middle school where I learned HTML, and computer classes were always my favorite. When I was fourteen years old I built my own Desktop computer, from parts I ordered online and I turned installing and uninstalling computer hardware into a hobby. Eventually, I replaced every part of my desktop.  After working a few dead end jobs, I decided to explore other solutions to success in life and enrolled in SeedPaths, a software development boot camp, where I learned the skills I needed to turn my hobby into a career as a developer.
        <br />
        <br />
        <br />




    </p>
    
</div>