body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #ff3232;
    background-color: #000;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ffd800;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}



.left{
    box-sizing:border-box;
    display: inline-block;
    float: left;
    width: 33.3%;
    border: 1px solid Gold;
}

.right{
    box-sizing:border-box;
        display: inline-block;
        float: right;
        width: 33.3%;
        border: 1px solid Gold;

    }

.center
{
    box-sizing:border-box;
    display: inline-block;
    width: 33.3%;
    border: 1px solid Gold;
}

.About 
{
    display: inline-block;
    border: 5px solid Red;
    width: thick;
}

.topleft, .topright
{
    box-sizing: border-box;
        width: 48%;
    display:inline-block;
    border: 5px solid Red; 
}

.bottomleft, .bottomright
{
    box-sizing: border-box;
    width: 48% ;
    display:inline-block;
    border: 5px solid Red;
}

