@{
    ViewBag.Title = "Index";
}

<h2>Welcome</h2>
    <div class="home active"><img src="~/Content/IMAGES/Subrosa Shield.jpg" width="250%" height="450px"></div>
    <div class="home hide"><img src="~/Content/IMAGES/afro-samurai-resurrection-2314.jpg" width="200%" height="450px"/></div>
    <div class="home hide"><img src="~/Content/IMAGES/afrokuma.jpg" width="225%" height="450px" /></div>
    <div class="home hide"><img src="~/Content/IMAGES/subrosacollage.jpg" width="185%" height="450px" /></div>
    <div class="home hide"><img src="~/Content/IMAGES/gears_of_war_3_omen_desktop_by_unifiedac-d4ab7s8.jpg" width="160%" height="450px" /></div>
    <div class="home-next">
        Next
    </div>




<div class="left">DIV2</div>
<div class="center">DIV3</div>
<div class="right">DIV4</div> 

