@{
    ViewBag.Title = "Home";
}

<h2></h2>
    <div class="home active"><img src="~/Content/IMAGES/bmximage3.jpg" width="1600px" height="450px"></div>
    <div class="home hide"><img src="~/Content/IMAGES/bmximage1.jpg" width="1600px"  width="1450px" height="450px"/></div>
    <div class="home hide"><img src="~/Content/IMAGES/bmximage2.jpg"  width="1600px" height="450px" /></div>

    <div class="firstimage-next">
        Next
    </div>

    <div class="lastimage-prev">
        Previous
    </div>




<div class="left"><h1 align ="center">ABOUT</h1><br /></h1><div align="center">Hello, my name is Owen to learn more about me click <a href="@Url.Action("Index", "About")">ABOUT</div></a></div>
<div class="center"><h1 align="center">WORK</h1><br /></h1><div align="center">To view some of my work feel free to click <a href="@Url.Action("Index", "Work")">WORK</div></a></div>
<div class="right"><h1 align="center">CONTACT</h1><br /></h1><div align="center">If youd like to send me your contact info, click <a href="@Url.Action("Index", "Contact")">CONTACT</div> </a></div> 

