@{
    ViewBag.Title = "']['[[]][[]]'][_";
}

<h2></h2>
    <div class="home active"><img src="~/Content/IMAGES/starwarsimage1.jpg" width="1600px" height="450px"></div>
    <div class="home hide"><img src="~/Content/IMAGES/starwarsimage3.jpg" width="1600px"  width="1450px" height="450px"/></div>
    <div class="home hide"><img src="~/Content/IMAGES/starwarsimage4.jpg"  width="1600px" height="450px" /></div>

    <div class="firstimage-next">
        Next
    </div>




<div class="left">Hello, my name is Owen to learn more about me click this ABOUT link <a href="@Url.Action("About", "About")">ABOUT</a></div>
<div class="center">To view some of my work feel free to click this WORK link <a href="@Url.Action("Work", "Work")">WORK</a></div>
<div class="right">If youd like to send me your contact info, click this CONTACT link <a href="@Url.Action("Contact", "Contact")">CONTACT</a></div> 

