@{
    ViewBag.Title = "Home";
}

<h2></h2>
    <div class="home active"><img src="~/Content/IMAGES/bmximage3.jpg" width="1600px" height="450px"></div>
    <div class="home hide"><img src="~/Content/IMAGES/bmximage1.jpg" width="1600px"  width="1450px" height="450px"/></div>
    <div class="home hide"><img src="~/Content/IMAGES/bmximage2.jpg"  width="1600px" height="450px" /></div>

    <div class="firstimage-next">
        Next
    </div>

    <div class="lastimage-prev">
        Previous
    </div>




<div class="left"><h1 align ="center">ABOUT</h1><br /></h1>Hello, my name is Owen to learn more about me click this ABOUT link <a href="@Url.Action("Index", "About")">ABOUT</a></div>
<div class="center"><h1 align="center">WORK</h1><br /></h1>To view some of my work feel free to click this WORK link <a href="@Url.Action("Index", "Work")">WORK</a></div>
<div class="right"><h1 align="center">CONTACT</h1><br /></h1>If youd like to send me your contact info, click this CONTACT link <a href="@Url.Action("Index", "Contact")">CONTACT</a></div> 

