@{
    ViewBag.Title = "Index";
}

<h2>AJAX Get using jQuery</h2>

<div id="content">
    I'm some text. When you click this link 
    <span class="ajax-get" data-url="@Url.Action("cats","AJAXGet")">
        here
    </span> 
    instead.
</div>
