@{
    ViewBag.Title = "Battleship";
}
<h2>Battleship</h2>

<div class="home active battleship"><img src="~/Content/IMAGES/battleshipscreenshot1.png" />
    <br />Here is my battleship game, you are looking at an ocean, click the "Next" button below to see more
    <br />click <a href="https://github.com/owengurule/Battleship/blob/master/Battleship/Battleship/bin/Debug/Battleship.exe">HERE</a>to download.<br /></div>

<div class="home hide battleship"><img src="~/Content/IMAGES/battleshipscreenshot2.png" />
    <br /> I hit a ship and it is marked as a red X on my ocean grid.
    <br />click <a href="https://github.com/owengurule/Battleship/blob/master/Battleship/Battleship/bin/Debug/Battleship.exe">HERE</a>to download.<br /></div>

<div class="home hide battleship"><img src="~/Content/IMAGES/battleshipscreenshot3.png" />
    <br />I missed and hit nothing ,but the ocean, my miss is displayed as a blue O on the ocean grid.
    <br />click <a href="https://github.com/owengurule/Battleship/blob/master/Battleship/Battleship/bin/Debug/Battleship.exe">HERE</a>to download.<br /></div>

<div class="home hide battleship"><img src="~/Content/IMAGES/battleshipscreenshot4.png" />
    <br />Here I have fast forwarded to when I destroy all ships and I win the game!
    <br />click <a href="https://github.com/owengurule/Battleship/blob/master/Battleship/Battleship/bin/Debug/Battleship.exe">HERE</a>to download.<br /></div>

    <div class="firstimage-next">
        Next
    </div>

    <div class="lastimage-prev">
        Previous
    </div>