@{
    ViewBag.Title = "Demonslayer";
}

<h2>Demonslayer</h2>
    <div class="firstimage-next">
        Next
    </div>


<div class="home active demonslayer"><img src="~/Content/IMAGES/demonslayerimage1.png" />
    <br />Here is my Demonslayer game, it has a small story line which follows you to attack a demon with 1 2 or 3.
    <br />click <a href="https://github.com/owengurule/DemonSlayerSimulator/blob/master/DemonSlayerSimulator/bin/Debug/DemonSlayerSimulator.exe">HERE</a>to download.<br /></div>

<div class="home hide demonslayer"><img src="~/Content/IMAGES/demonslayerimage2.png" />
    <br />Here it displays a log of damage dealt to you and damage dealt to the demon and attacks used, the demon uses his second most powerful attack "howl"
    <br />click <a href="https://github.com/owengurule/DemonSlayerSimulator/blob/master/DemonSlayerSimulator/bin/Debug/DemonSlayerSimulator.exe">HERE</a>to download.<br /></div>

<div class="home hide demonslayer"><img src="~/Content/IMAGES/demonslayerimage3.png" />
    <br />The demon has a 5% chance to instantly kill you as shown above.
    <br />click <a href="https://github.com/owengurule/DemonSlayerSimulator/blob/master/DemonSlayerSimulator/bin/Debug/DemonSlayerSimulator.exe">HERE</a>to download.<br /></div>


    <div class="firstimage-next">
        Next
    </div>

    <div class="lastimage-prev">
        Previous
    </div>