@{
    ViewBag.Title = "Guessthatnumber";
}

<h2>Guess That Number</h2>

<div class="home active numbergame"><img src="~/Content/IMAGES/guessthatnumberimage1.png" />
    <br />Here is my Guess That Number game, telling you to guess a number between 1-100
    <br />click <a href="https://github.com/owengurule/GuessThatNumber/blob/master/GuessThatNumber/GuessThatNumber/bin/Debug/GuessThatNumber.exe">HERE</a>to download.<br /></div>

<div class="home hide numbergame"><img src="~/Content/IMAGES/guessthatnumberimage2.png" />
    <br />Here I have guessed the number 1 and am about to hit enter.
    <br />click <a href="https://github.com/owengurule/GuessThatNumber/blob/master/GuessThatNumber/GuessThatNumber/bin/Debug/GuessThatNumber.exe">HERE</a>to download.<br /></div>
    
<div class="home hide numbergame"><img src="~/Content/IMAGES/guess that number image 3.png" />
    <br />Here I have just hit enter and my number does not match, the game is over, I failed.
    <br />click <a href="https://github.com/owengurule/GuessThatNumber/blob/master/GuessThatNumber/GuessThatNumber/bin/Debug/GuessThatNumber.exe">HERE</a>to download.<br /></div>


    <div class="firstimage-next">
        Next
    </div>

    <div class="lastimage-prev">
        Previous
    </div>