@{
    ViewBag.Title = "Index";
}

<h2>Work</h2>
<div class="topleft">
    
    <a href="@Url.Action("Battleship", "Work")"><img class="workimage"  src="~/Content/IMAGES/battleshipscreenshot1.png" /></a>
        <p>
            
            click the image above to view more about Battleship
        </p>
</div>
&nbsp &nbsp
<div class="topright">
    <a href="@Url.Action("Demonslayer", "Work")"><img class="workimage" src="~/Content/IMAGES/demonslayerimageoriginal.png" /></a>
        <p>
            

            
            click the image above to view more about Guess That Demon Slayer
        </p>
</div>
<br />
<br />
<div class="bottomleft">
    <a href="@Url.Action("Guessthatnumber", "Work")"><img class="workimage"  src="~/Content/IMAGES/guessthatnumberimage1.png" /></a>
        <p>
            

            
            click the image above to view more about Guess That Number
        </p>
</div>
&nbsp &nbsp
<div class="bottomright">
    
    <p>
        Coming soon
    </p>
</div>
