@{
    ViewBag.Title = "Work";
}

<h2>Work</h2>
<div class="topleft">
    <img src="~/Content/IMAGES/WIN_20140924_192431.JPG" width="100%" />
    <p>
        Work Sample 1
    </p>
</div>
&nbsp &nbsp
<div class="topright">
    <img src="~/Content/IMAGES/WIN_20140924_192431.JPG" width="100%" />
    <p>
        Work Sample 2
    </p>
</div>
<br />
<br />
<div class="bottomleft">
    <img src="~/Content/IMAGES/WIN_20140924_192431.JPG" width="100%" />
    <p>
        Work Sample 3
    </p>
</div>
&nbsp &nbsp
<div class="bottomright">
    <img src="~/Content/IMAGES/WIN_20140924_192431.JPG" width="100%" />
    <p>
        Work Sample 4
    </p>
</div>
