@{
    ViewBag.Title = "Work";
}

<h2>Work</h2>
<div class="topleft">
    <div class="home active workimage">
        
        <p>
            To view my Battleship game hit NEXT, you will see an ocean displayed
            
        </p>
    </div>
    <div class="home hide workimage">
        <p>
            To Download Click this link <a  href="https://github.com/owengurule/Battleship/blob/master/Battleship/Battleship/bin/Debug/Battleship.exe">DOWNLOAD</a> otherwise hit Next
        </p>
    </div>
    <div class="home hide workimage">
    <img src="~/Content/IMAGES/battleshipscreenshot1.png"/>
    </div>
        <div class="home hide workimage">
        <p>
            Next I will show you what happens when you put in the wrong coordinates and how a ship looks when hit
        </p>
    </div>
    <div class="home hide workimage">
    <img src="~/Content/IMAGES/battleshipscreenshot2.png"/>
    
    </div>
            <div class="home hide workimage">
        <p>
            Next I will show you how the ocean looks when you type in coordinates and miss.
        </p>
    </div>
    <div class="home hide workimage">
    <img src="~/Content/IMAGES/battleshipscreenshot3.png"/>
    </div>
            <div class="home hide workimage">
        <p>
            Next I will show you what the game looks like when all ships have been destroyed and you win!
        </p>
    </div>
    <div class="home hide workimage">
    <img src="~/Content/IMAGES/battleshipscreenshot4.png"/>
    </div>
    <div class="firstimage-next">
        <p>
        Next
        </p>
    </div>
</div>
&nbsp &nbsp
<div class="topright">
    <img src="~/Content/IMAGES/WIN_20140924_192431.JPG" width="100%" />
    <p>
        Work Sample 2
    </p>
</div>
<br />
<br />
<div class="bottomleft">
    <img src="~/Content/IMAGES/WIN_20140924_192431.JPG" width="100%" />
    <p>
        Work Sample 3
    </p>
</div>
&nbsp &nbsp
<div class="bottomright">
    <img src="~/Content/IMAGES/WIN_20140924_192431.JPG" width="100%" />
    <p>
        Work Sample 4
    </p>
</div>
