@{
    ViewBag.Title = "Work";
}

<h2>Work</h2>
<div class="topleft">
    
    <a href="@Url.Action("Battleship", "Work")"><p><img src="~/Content/IMAGES/battleshipscreenshot1.png" /></p></a>
        <p>
            <br />
            click the image above to view more about Battleship
        </p>
</div>
&nbsp &nbsp
<div class="topright">
    <a href="@Url.Action("Demonslayer", "Work")">
    <p><p><img src="~/Content/IMAGES/demonslayerimageoriginal.png" /></p><br /></p></a>
    <p>
        click the image above to view more about Demonslayer
    </p>
</div>
<br />
<br />
<div class="bottomleft">
    <img src="~/Content/IMAGES/WIN_20140924_192431.JPG" width="100%" />
    <p>
        Work Sample 3
    </p>
</div>
&nbsp &nbsp
<div class="bottomright">
    <img src="~/Content/IMAGES/WIN_20140924_192431.JPG" width="100%" />
    <p>
        Work Sample 4
    </p>
</div>
